* {
    font-family: 'Jost', sans-serif;
    user-select: none;
}

body {
    background-color: #f9faf5;
}

h1, h2, body {
    margin: 0;
}

h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.main-container {
    height: calc(100vh);
    display: grid;
    grid-template-columns: 275px 3fr 1fr; 
    grid-template-rows: 80px 12fr;
    grid-template-areas:
        "sidebar header header"
        "sidebar dashboard dashboard";
}

.header {
    /* background-color: lightblue; */
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.95rem;
}

.header > .header-right {
    margin-left: auto;
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.header .header-icon {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.25rem;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.header-icon > span {
    background-color: rgba(0, 0, 0, 0);
}

.new-task button {
    background-color: #24282c;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.8rem 1.4rem;
    font-size: 0.9rem;
    transition-property: font-size, padding;
    transition-duration: .5s;
}

.new-task button:hover {
    font-size: 1rem;
    padding: 1rem 1.4rem;
}

.sidebar {
    display: flex;
	flex-direction: column;
    background-color: #24282c;
    grid-area: sidebar;
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    color: white;
    padding: 0 1.25rem;
    padding-bottom: 1.25rem;
}

.sidebar-logo {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #24282c;
    padding-left: 1.5rem;
}

.sidebar-logo > span {
    font-size: 1.7rem;
    margin-right: 0.5rem;
}

.side-item {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    padding: 1rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    border-radius: 9px;
}

.side-item:hover {
    background-color: #f9faf5;
    color: #24282c;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.side-icon {
    display: flex;
    align-items: center;
}

.side-text p {
    padding: 0;
    margin: 0;
}

.side-main-button {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.side-main-button > button {
    background-color: #d3f36b;
    border: none;
    border-radius: 9px;
    padding: 1rem 2rem;
    font-size: 1rem;
    width: 100%;
    transition-property: font-size, padding;
    transition-duration: .5s;
}

.side-main-button > button:hover {
    font-size: 1.1rem;
    padding: 1.35rem 2rem;
}

.sidebar-bottom {
    margin-top: auto;
}

.dashboard {
    grid-area: dashboard;
    padding: 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: auto 350px;
    gap: 1.5rem;
}

.board-title > h2, .latest-title > h2 {
    font-size: 2rem;
    font-weight: 300;
}

.board-selector ul {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
    padding-bottom: 0.2rem;
    display: flex;
    gap: 1.25rem;
    font-size: 0.95rem; 
    color: rgba(0, 0, 0, 0.35);
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.4); */
    width: fit-content;
}

.board-selector ul > li {
    background-color: rgba(0, 0, 0, 0.035);
    border-radius: 9px;
    padding: 0.65rem 1rem;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0);
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.85); */
}

.board-selector ul > li:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
}

.board-selector > ul > li.board-selected {
    background-color: #d3f36b;
    color: rgba(0, 0, 0, 0.65);
}

.board-selector > ul > li.board-selected:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    /* background-color: #dfeeae; */
}

.latest h3 {
    font-weight: 500;
    font-size: 1rem;
    /* margin: 0.5rem 0;
    margin-bottom: 0; */
    margin: 0;
}

.latest p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.latest-container {
    /* padding: 0 1rem; */
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* margin: 1rem 0; */
    border-radius: 9px;
}

.latest-message-box {
    padding: 0.75rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0.5rem 0;
    color: #24282c;
}

.latest-message-box p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.latest-message-box > .message-buttons > button {
    background-color: #d3f36b;
    border: none;
    border-radius: 6px;
    color: #24282c;
    padding: 0.25rem 0.5rem;
}

.message-title {
    padding: 0.5rem 0;
}

.message-title, .message-icon {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.message-icon {
    font-size: 0.2rem;
}

.board-tasks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(175px, 1fr)); */
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    height: calc(100% - 110px - 16px); /* 100% minus the height of parent <div> */
}

.board-tasks {
    display: grid;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 9px;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.task-item h3, p {
    margin: 0.5rem 0;
}

.task-item h3 {
    font-size: 1.15rem;
    font-weight: 400;
}

.task-item p {
    font-weight: 300;
}

.task-icons {
    margin-top: auto;
    margin-left: auto;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
